*{
    margin: 0;
    padding: 0;
}
.Headding{
    /* z-index: -2; */
    align-items: center;
    justify-content: center;
    display: flex;
    /* height: 95vh; */
    /* border-bottom: 0.5 solid black; */
    /* background-color: rgb(217, 215, 215); */
    /* font-family: 'CustomFont3'; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top:5rem ;
    padding: 3rem;
    background-image: url('../../images/keyboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    height: 90vh;
    /* width: 100%; */
    
}
.Headding::before {
    content: "";
    /* background-image: url('../../images/keyboard.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Place it below the content */
    
  }
.headInfo{
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 30% 50% ;
    margin: 2rem;
    gap: 10%;
}
.InfoImg{
    align-items: center;
    justify-content: center;
    width: 30rem;
    overflow: hidden;
    border-radius: 1.5rem;
}
.InfoImginner{
    
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.Information{
    color: white;
}
.Information h1{
    font-size: 5rem;
}
.services_content{
    /* margin-top: 9rem; */
    align-items: center;
    justify-content: center;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* gap: 5%; */
    /* margin: 2rem; */
    

}
.services_card{
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    margin: 1rem;
    background: white;
    border-color: var(--color-primary-variant);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.services_card:hover{
    background: var(--color-primary);
}

    
/* Extra Small Devices (phones) */
@media (max-width: 576px) {
    .Headding{
        
    }
    .services_content{
        /* width: var(--container-width-sm); */
        width: 100%;
        grid-template-columns: 1fr;
        height: 120vh;
       

    } 
    .InfoImg {
        display: none;
    } 
    .InfoImginner{
        display: none;
    }
    .Information{
        width: 8cm;
        padding-top: 40rem;
        margin-top: 4rem;
    }  
}
  
  /* Small Devices (tablets) */
  @media (min-width: 577px) and (max-width: 768px) {
.services_content{
        /* width: var(--container-width-sm); */
        grid-template-columns: 1fr;

    } 
    .InfoImg {
        display: none;
    } 
    .InfoImginner{
        display: none;
    }
    .Information{
        width: 10cm;
        padding-top: 40rem;
        margin-top: 2rem;
    }  
    .headInfo{
        width: 10cm;
    }
}
  
  /* Medium Devices (small laptops and desktops) */
  @media (min-width: 769px) and (max-width: 992px) {
    .services_content{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .headInfo{
        padding-top: 70px;
        grid-template-columns: 80% ;
        
    }
    .Headding{
        height: 680px;
    }  }
  
  /* Large Devices (large laptops and desktops) */
  @media (min-width: 993px) and (max-width: 1200px) {
    .services_content{
        /* grid-template-columns: 1fr; */
    }
    .headInfo{
        margin-top: 20rem;
        grid-template-columns: 1fr;
    }
    .Headding{
        height: 880px;
    }
    
  }
  
  /* Extra Large Devices (extra large desktops and high-resolution screens) */
  @media (min-width: 1201px) {
    .services_content{
        position: relative;
        padding-top: 7rem;
        bottom: 0;
        height: 30cm;
    }
    .headInfo{
        margin-top: 15rem;
        /* grid-template-columns: 1fr; */
    }
  }