nav{
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    align-items: center;
    justify-content: center;
}
nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}
nav a:hover{
    background: rgba(0,0,0,0.3);
}
nav a.active{
    background: var(--color-primary);
    color: var(--color-bg);
}

/* Extra Small Devices (phones) */
@media (max-width: 576px) {
    /* nav{
        width: 50%;
        left: 30%;
    } */
    /* nav a{
        padding: 0.2rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.1rem;
    } */
  }
  
  /* Small Devices (tablets) */
  @media (min-width: 577px) and (max-width: 768px) {
    
  }
  
  /* Medium Devices (small laptops and desktops) */
  @media (min-width: 769px) and (max-width: 992px) {
    .SmallNav{
        display: none;
    }  }
  
  /* Large Devices (large laptops and desktops) */
  @media (min-width: 993px) and (max-width: 1200px) {
    .SmallNav{
        display: none;
    }  }
  
  /* Extra Large Devices (extra large desktops and high-resolution screens) */
  @media (min-width: 1201px) {
    .SmallNav{
        display: none;
    }  }