.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../images/keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }