/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Nightydemo.otf') format('opentype');
}

@font-face {
  font-family: 'CustomFont2';
  src: url('./fonts/MADE\ Dillan\ PERSONAL\ USE.otf') format('opentype');
}

@font-face {
  font-family: 'CustomFont3';
  src: url('./fonts/Gruppo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CustomFont4';
  src: url('./fonts/KaushanScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CustomFont4';
  src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CustomFont5';
  src: url('./fonts/LeagueScriptNumberOne.otf') format('opentype');
}